body {
  background-image: url('../images/bgDay.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  color: #351400;
  font-family: "DynaPuff", system-ui;
}

.weather-app-container {
  background-color: #EEBBC4;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 50px;
  border: 3px solid #351400;
}


.weather-app {
  background-color: #FEFBEC;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 30px 5px;
  border-radius: 50px;
  border: 3px solid #351400;
}

.search-input,
.submit-button {
  font-family: "DynaPuff", system-ui;
  border-radius: 50px;
  border: 3px solid #351400;
  padding: 15px;
  font-size: 30px;
  
}

.search-input {
  background-color: #FEFBEC;
  color: #AC99AC;
  width: 78%;
}


.search-input::placeholder {
color: #AC99AC;
}

.submit-button {
 background-color: #EEBBC4;
 color: #351400;
 margin-left: 10px;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.weather-details {
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  line-height: 40px;
}

.day,
.weather-description,
.humidity-text,
.wind-text {
 color: #EEBBC4; 
 text-shadow:
 -1px -1px 0 #351400,
 1px -1px 0 #351400,
 -1px 1px 0 #351400,
 1px 1px 0 #351400,
 0px 1px 0 #351400,
 1px 0px 0 #351400,
 0px -1px 0 #351400,
 -1px 0px 0 #351400;
}

main {
  padding: 20px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.temperature-container {
  display: flex;
  font-size: 60px;
}

footer {
 color: #FEFBEC;
 text-shadow:
 -1px -1px 0 #351400,
 1px -1px 0 #351400,
 -1px 1px 0 #351400,
 1px 1px 0 #351400,
 0px 1px 0 #351400,
 1px 0px 0 #351400,
 0px -1px 0 #351400,
 -1px 0px 0 #351400;
 font-size: 30px;
 text-align: center;
 margin-top: 30px;
}

a {
 color: #EEBBC4;
}

